@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-margin-top: 11rem;
}

body {
    background-color: theme('colors.background');
    box-sizing: border-box;
    overflow-x: hidden;
}

p {
    color: theme('colors.text');
}

.gradient-text {
    -webkit-background-clip: text;
    background-clip: text;
	-webkit-text-fill-color: transparent;
}